@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9FAFB;
  color: #111827;
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
